# Compiled class files
*.class

# Log files
logs/
/*.log

# Maven/Gradle directories and files
target/
*.jar
*.war
*.ear

# Spring Boot specific files
.springBeans

# IntelliJ IDEA specific files
.idea/
*.iml
.idea_modules/
out/

# Eclipse specific files
*.launch
.settings/
.project
.classpath

# Temporary files
*.tmp
*.swp
*.bak

# Operating system files
.DS_Store
Thumbs.db

# VS Code specific files
.vscode/
